.container__banner3 {
  display: flex;
  flex-direction: column;
  background-image: url(/Assets/background-metodo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 5rem;
  align-items: center;
  gap: 3rem;
}

.imagens {
  width: 19.8;
  height: 37.1rem;
}

.banner3__titulo {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans';
  font-size: 4rem;
  font-weight: 800;
  line-height: normal;
  width: 30rem;
  height: 6.4rem;
  margin: 3.4rem auto 6rem;
}

.container__card1 {
  text-align: center;
}

.banner3__card1 {
  background: #fff;
  width: 16.2rem;
  height: 18.4rem;
  border-radius: 4rem;
  position: relative;
  z-index: 1000;
  left: 8%;
}

.card1__imagem-e-texto {
  display: inline-block;

}

.banner3__card1 img {
  position: absolute;
  top: -2.5rem;
  right: 35%;
  width: 5rem;
}

.banner3__card1 p {
  color: #040840;
  text-align: center;
  font-family: Open Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2.5rem;
}

.card1__titulo {
  width: 19.2rem;
  height: 22.4rem;
  background: linear-gradient(180deg, #0B1167 41.50%, #040840 75.64%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  z-index: 999;
  margin: -15rem auto 12.8rem;
  position: relative;
}

.card1__titulo h2 {
  position: absolute;
  width: 18.9rem;
  bottom: 6%;
  left: 2%;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Open Sans';
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sombra__card {
  text-align: center;
  margin-top: -8rem;
}


.banner3__card2 {
  background-color: #FFF;
}

.container__card2 {
  padding-top: 4rem;
}

.banner3__card2 {
  background: #fff;
  width: 16.2rem;
  height: 18.4rem;
  border-radius: 4rem;
  position: relative;
  z-index: 1000;
  left: 8%;
}

.card2__imagem-e-texto {
  display: inline-block;
  text-align: center;
}

.banner3__card2 img {
  position: absolute;
  top: -2.5rem;
  right: 35%;
  width: 5rem;
}

.banner3__card2 p {
  color: #040840;
  font-family: Open Sans;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2.5rem;
  width: 15.5rem;
  margin: 3rem 0.5rem;
}

.card2__titulo {
  width: 19.2rem;
  height: 22.4rem;
  background: linear-gradient(180deg, #FE3D72 0%, #EB1650 45.83%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  z-index: 999;
  margin: -15rem auto 12.8rem;
  position: relative;
}

.card2__titulo h2 {
  position: absolute;
  width: 18.9rem;
  bottom: 6%;
  left: 2%;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Open Sans';
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sombra__card {
  text-align: center;
  margin-top: -8rem;
}


.banner3__card3 {
  background-color: #FFF;
}

.container__card3 {
  padding-top: 4rem;
}

.banner3__card3 {
  background: #fff;
  width: 16.2rem;
  height: 18.4rem;
  border-radius: 4rem;
  position: relative;
  z-index: 1000;
  left: 8%;
}

.card3__imagem-e-texto {
  display: inline-block;
  text-align: center;
}

.banner3__card3 img {
  position: absolute;
  top: -2.5rem;
  right: 35%;
  width: 5rem;
}

.banner3__card3 p {
  color: #040840;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2.5rem;
  width: 14rem;
  margin: 2.8rem 1rem;
}

.card3__titulo {
  width: 19.2rem;
  height: 22.4rem;
  background: linear-gradient(180deg, #BFFF22 0%, #4AB451 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  z-index: 999;
  margin: -15rem auto 12.8rem;
  position: relative;
}

.card3__titulo h2 {
  position: absolute;
  width: 18.9rem;
  bottom: 6%;
  left: 2%;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Open Sans';
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sombra__card {
  text-align: center;
  margin-top: -8rem;
}



.banner3__card4 {
  background-color: #FFF;
}

.container__card4 {
  padding-top: 4rem;
  margin-bottom: 6rem;
}

.banner3__card4 {
  background: #fff;
  width: 16.2rem;
  height: 18.4rem;
  border-radius: 4rem;
  position: relative;
  z-index: 1000;
  left: 8%;
}

.card4__imagem-e-texto {
  display: inline-block;
  text-align: center;
}

.banner3__card4 img {
  position: absolute;
  top: -2.5rem;
  right: 35%;
  width: 5rem;
}

.banner3__card4 p {
  color: #040840;
  font-family: Open Sans;
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3rem;
  width: 14.6rem;
  margin: 3rem 0.5rem;
}

.card4__titulo {
  width: 19.2rem;
  height: 22.4rem;
  background: linear-gradient(180deg, #30B8F4 0%, #0081BA 44.27%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4rem;
  z-index: 999;
  margin: -15rem auto 12.8rem;
  position: relative;
}

.card4__titulo h2 {
  position: absolute;
  width: 18.9rem;
  bottom: 6%;
  left: 2%;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Open Sans';
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sombra__card {
  text-align: center;
  margin-top: -8rem;
}

@media screen and (min-width: 1400px) {
  .banner3__titulo {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 7.5rem;
    font-weight: 800;
    line-height: normal;
    width: 72.9rem;
    height: auto;
    margin-bottom: 3rem;
  }

  .caixa__cards-web {
    display: flex;
    gap: 4.4rem;
  }

  .container__card1 {
    padding-top: 4rem;
  }

  .card1__titulo {
    width: 23.4rem;
    height: 29.8rem;
    background: linear-gradient(180deg, #0B1167 41.50%, #040840 75.64%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4rem;
    z-index: 999;
    margin: -22rem auto 12.8rem;
    position: relative;
  }

  .banner3__card1 {
    background: #fff;
    width: 19.6rem;
    height: 27.4rem;
    border-radius: 4rem;
    position: relative;
    z-index: 1000;
    left: 8%;
  }

  .banner3__card1 p {
    color: #040840;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1rem;
    width: 17.1rem;
  }

  .banner3__card1 img {
    width: 7rem;
    height: 7rem;
    top: -3.7rem;
    right: 31%;
  }

  .card1__titulo h2 {
    position: absolute;
    width: 18.9rem;
    bottom: 4%;
    left: 10%;
  }

  .container__card2 {
    padding-top: 4rem;
  }

  .banner3__card2 {
    background: #fff;
    width: 19.5rem;
    height: 27.3rem;
    border-radius: 4rem;
    position: relative;
    z-index: 1000;
    left: 8%;
  }

  .card2__imagem-e-texto {
    display: inline-block;
    text-align: center;
  }

  .banner3__card2 img {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: -3.7rem;
    right: 31%;
  }

  .banner3__card2 p {
    color: #040840;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1.2rem;
    width: 17.1rem;
  }

  .card2__titulo {
    width: 23.4rem;
    height: 29.8rem;
    background: linear-gradient(180deg, #FE3D72 0%, #EB1650 45.83%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4rem;
    z-index: 999;
    margin: -22rem auto 12.8rem;
    position: relative;
  }

  .card2__titulo h2 {
    bottom: 4%;
    left: 10%;
  }

  .sombra__card {
    text-align: center;
    margin-top: -8rem;
  }

   .container__card2 {
    padding-top: 4rem;
  }

  .banner3__card2 {
    background: #fff;
    width: 19.5rem;
    height: 27.3rem;
    border-radius: 4rem;
    position: relative;
    z-index: 1000;
    left: 8%;
  }

  .card2__imagem-e-texto {
    display: inline-block;
    text-align: center;
  }

  .banner3__card2 img {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: -3.7rem;
    right: 31%;
  }

  .banner3__card2 p {
    color: #040840;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1.2rem;
    width: 17.1rem;
  }

  .card2__titulo {
    width: 23.4rem;
    height: 29.8rem;
    background: linear-gradient(180deg, #FE3D72 0%, #EB1650 45.83%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4rem;
    z-index: 999;
    margin: -22rem auto 12.8rem;
    position: relative;
  }

  .card2__titulo h2 {
    bottom: 4%;
    left: 10%;
  }

  .sombra__card {
    text-align: center;
    margin-top: -8rem;
  }

  .container__card3 {
    padding-top: 4rem;
  }

  .banner3__card3 {
    background: #fff;
    width: 19.5rem;
    height: 27.3rem;
    border-radius: 4rem;
    position: relative;
    z-index: 1000;
    left: 8%;
  }

  .card3__imagem-e-texto {
    display: inline-block;
    text-align: center;
  }

  .banner3__card3 img {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: -3.7rem;
    right: 31%;
  }

  .banner3__card3 p {
    color: #040840;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 1rem;
    width: 17.1rem;
  }

  .card3__titulo {
    width: 23.4rem;
    height: 29.8rem;
    background: linear-gradient(180deg, #BFFF22 0%, #4AB451 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4rem;
    z-index: 999;
    margin: -22rem auto 12.8rem;
    position: relative;
  }

  .card3__titulo h2 {
    bottom: 4%;
    left: 10%;
  }

  .sombra__card {
    text-align: center;
    margin-top: -8rem;
  }

  --------------------------------
  .container__card4 {
    padding-top: 4rem;
  }

  .banner3__card4 {
    background: #fff;
    width: 19.5rem;
    height: 27.3rem;
    border-radius: 4rem;
    position: relative;
    z-index: 1000;
    left: 8%;
  }

  .card4__imagem-e-texto {
    display: inline-block;
    text-align: center;
  }

  .banner4__card3 img {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: -3.7rem;
    right: 31%;
  }

  .banner3__card4 p {
    color: #040840;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem 0 0 1rem;
    width: 17.1rem;
  }

  .card4__titulo {
    width: 23.4rem;
    height: 29.8rem;
    background: linear-gradient(180deg, #30B8F4 0%, #0081BA 44.27%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4rem;
    z-index: 999;
    margin: -22rem auto 12.8rem;
    position: relative;
  }

  .card4__titulo h2 {
    bottom: 4%;
    left: 10%;
  }

  .sombra__card {
    text-align: center;
    margin-top: -8rem;
  }

}