.container__rodape {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 0;
  background-color: #fff;
}

.rodape {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.7rem;
  margin-bottom: 1.6rem;
}

.rodape__lista {
  list-style: none;
}

.rodape__lista a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.logo-e-redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.rodape__redes-sociais {
  display: flex;
  gap: 3px;
}

@media screen and (min-width: 1400px) {
  .caixa__container-rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100rem;
    height: 21.3rem;
    margin: 0 auto;
    align-items: center;
  }

  .rodape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 53.9rem;
    height: 11.8rem;
  }

  .rodape__lista a {
    height: 3.9rem;
    color: #050A4D;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .logo-e-redes-sociais {
    display: flex;
    flex-direction: column;
  }

  .logo__rodape-web {
    width: 33rem;
    height: 11.5rem;
    gap: 2.3rem;
  }

  .rodape__redes-sociais img {
    width: 7rem;
    height: 9.3rem;
  }
}